<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teachly">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teachly"
        tools:targetApi="31">
        <activity
            android:name=".ChatConversations"
            android:exported="false" />
        <activity
            android:name=".ChatOneOnOne"
            android:exported="false" />
        <activity
            android:name=".EditClass"
            android:exported="false" />
        <activity
            android:name=".ClassPageStudent"
            android:exported="false" />
        <activity
            android:name=".ClassPageTeacher"
            android:exported="false" />
        <activity
            android:name=".HomeStudent"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".HomeTeacher"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="false" />
    </application>

</manifest>